spacy[transformers]~=3.3.0
streamlit~=1.9.0
watchdog~=2.1.7
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0.tar.gz#egg=en_core_web_sm
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.3.0/en_core_web_trf-3.3.0.tar.gz#egg=en_core_web_trf